*{
    box-sizing: border-box;
 margin:0;
 padding:0;   
}
li,a {
    font-family: ;
    text-decoration:none;
}

.icon{
    display:flex;
    justify-content: flex-end;
    padding: 15px 5%;   
}

header{
    display:flex;
    justify-content: flex-end;
    align-items:center;
    padding:30px 10%;
}

.logo{
float: left;
margin-right:auto;
}
.nav_links{
    list-style:none;
    justify-content: flex-end;
 
}
.nav_links>li{
    display: inline-block;
    
}
.nav_links > a{
    transition: all 0,3s ease 0s;
}
.nav_links > a:hover{
    color:red;
}
h1, h2{
    text-align: center;
}
.questions{
    margin:20px 30px;
    padding:20px 30px;
    color:red;
}
.questions >p{
    margin-top:20px;
}
.form-container{
    border-radius:30px;
    box-shadow:10px 10px 5px #aaaaaa ;
    padding:40px;
    width:50%;
    position: absolute;
    top:15%;
}
.form-container > h2{
    margin-bottom: 50px;

}
.col{
    border: 1px solid black;
    height:600px;
}
.col1{
    background-image: url(arr[0]);
    background-position: center;
}
.col2{
    background-image: url("https://www.superherodb.com/pictures2/portraits/10/100/22.jpg");
    background-position: center;
}